<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM Application Automation suite">

	<listeners>
		<listener class-name="com.automationFramework.ExtentReportListener.ExtentReporterNG" />
	</listeners>

<test name="Free CRM Application">
		<classes>
			<class name="com.automationFramework.testcases.LoginPageTest"></class>
			<class name="com.automationFramework.testcases.HomePageTest"></class>
			<class name="com.automationFramework.testcases.ContactsPageTest"></class>
			<!--  <class name="com.automationFramework.testcases.CalendarPageTest"></class>
			-->

		</classes>
	</test>
</suite>